<!DOCTYPE html>
<!-- App Header.html -->
<html lang="ko-KR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="해양수산통계시스템 홈페이지 입니다." />
<title>해양수산통계시스템</title>
<meta name="theme-color" content="#977049">
<meta name="msapplication-navbutton-color" content="#977049">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="apple-touch-startup-image" href="../resources/favicon/android-icon-192x192.png">
<link rel="apple-touch-icon" sizes="57x57" href="../resources/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="../resources/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="../resources/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="../resources/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="../resources/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="../resources/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="../resources/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="../resources/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="../resources/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="../resources/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="../resources/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="../resources/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="../resources/favicon/favicon-16x16.png">
<link rel="shortcut icon" href="../resources/favicon/favicon.ico">
<link rel="manifest" href="../resources/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#977049">
<meta name="msapplication-TileImage" content="../resources/favicon/android-icon-192x192.png">
<meta property="og:title" content="해양수산통계시스템">
<meta property="og:url" content="http://도메인/">
<meta property="og:image" content="../resources/favicon/android-icon-192x192.png">
<meta property="og:description" content="해양수산통계시스템 홈페이지 입니다.">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="해양수산통계시스템">
<meta name="twitter:url" content="http://도메인/">
<meta name="twitter:image" content="../resources/favicon/android-icon-192x192.png">
<meta name="twitter:description" content="해양수산통계시스템 홈페이지 입니다.">
<link rel="stylesheet" href="../resources/front/css/desktop.min.css" />
<link rel="stylesheet" href="../resources/front-legacy/css/legacy-desktop.css" />
<!--[if lt IE 9]><script src="../resources/front/js/vendor/jquery-1.12.2.min.js"></script><![endif]-->
<!--[if gte IE 9]><!--><script src="../resources/front/js/vendor/jquery.min.js"></script><![endif]-->
<script src="../resources/front/js/script.min.js"></script>
</head>
<body class="layout-page">
<!-- //App Header.html -->
<!-- Header.html -->
<div id="wrap">
	<div id="header">
		<div class="container">
			<h1 class="logo"><a href="/"><span class="sr-only">해양수산부 통계시스템</span></a></h1>
			<div class="lnb">
				<ul class="depth1">
					<li class="eq-1">
						<a href="service-1.html"><span>서비스안내</span></a>
						<ul class="depth2">
							<li><a href="service-1.html">해양수산통계소개</a></li>
							<li><a href="service-2.html">공지사항</a></li>
							<li><a href="service-3.html">보도자료</a></li>
							<li><a href="service-4.html">자주묻는질문</a></li>
							<li><a href="service-5.html">이용안내</a></li>
							<li><a href="service-6.html">관련사이트</a></li>
							<li><a href="service-7.html">관련통계사이트</a></li>
						</ul>
					</li>
					<li class="eq-2">
						<a href="stats-1.html"><span>통계조회</span></a>
						<ul class="depth2">
							<li><a href="stats-1.html">분야별통계</a></li>
							<li><a href="stats-2.html">부서별통계</a></li>
							<li><a href="stats-3.html">주요통계</a></li>
							<li><a href="stats-4.html">인기통계</a></li>
							<li><a href="stats-5.html">통계공표일정</a></li>
							<li><a href="stats-6.html">통계담당부서안내</a></li>
							<li><a href="stats-7.html">최근수록자료</a></li>
						</ul>
					</li>
					<li class="eq-3">
						<a href="indicator-1.html"><span>지표조회</span></a>
						<ul class="depth2">
							<li><a href="indicator-1.html">분야별지표</a></li>
							<li><a href="indicator-2.html">주요지표</a></li>
							<li><a href="indicator-3.html">인기지표</a></li>
							<li><a href="indicator-4.html">최근수록지표</a></li>
						</ul>
					</li>
					<li class="eq-4">
						<a href="information-1.html"><span>통계정보</span></a>
						<ul class="depth2">
							<li><a href="information-1.html">간행물</a></li>
							<li><a href="information-2.html">통계메타DB</a></li>
							<li><a href="information-3.html">통계용어</a></li>
							<li><a href="information-4.html">통계법령자료</a></li>
							<li><a href="information-5.html">통계서식정보</a></li>
							<li><a href="information-6.html">통계기반정책평가제도</a></li>
							<li><a href="information-7.html">품질진단안내</a></li>
						</ul>
					</li>
					<li class="eq-5">
						<a href="participation-1.html"><span>참여</span></a>
						<ul class="depth2">
							<li><a href="participation-1.html">이벤트</a></li>
							<li><a href="participation-2.html">통계개선의견</a></li>
							<li><a href="participation-3.html">통계개발요청</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="gnb">
				<ul>
					<li class="on"><a href="/"><span>HOME</span></a></li>
					<li><a href="participation-1.html"><span>EVENT</span></a></li>
					<li class="sitemap"><a href="#sitemap" class="btn-sitemap"><span class="sr-only">SITEMAP</span></a></li>
				</ul>
			</div>
			<div class="search">
				<form action="">
					<fieldset>
						<div class="search-focus-wrap">
							<div class="search-type">
								<a href="#">통합검색</a>
								<ul>
									<li><a href="#">통합검색1</a></li>
									<li><a href="#">통합검색2</a></li>
									<li><a href="#">통합검색3</a></li>
									<li><a href="#">통합검색4</a></li>
									<li><a href="#">통합검색5</a></li>
								</ul>
							</div>
							<div class="form-group form-search-text">
								<label for="">
									<input type="text" class="form-control">
								</label>
							</div>
						</div>
						<button type="submit" class="btn btn-search"><span class="glyphicon glyphicon-search"></span></button>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
	<div id="container">
		<!-- Header.html -->
<!-- Header Sub.html -->
<div class="container">
	<div id="snb">
		<h2>
			<strong>
							</strong>
			<span class="small">
					</span>
		</h2>
		<ul class="depth2">
			
		</ul>
	</div>
	<div id="content">
		<div class="page-title">
			<h3 class="title">
				<strong>
									</strong>
				<span class="small"></span>
			</h3>
		</div>
		<div class="breadcrumb">
			<a href="/" class="home">홈</a>
						<a href="#" onclick="return false;">
							</a>
		</div>


		<!-- //Header Sub.html -->
3차 댑스일 경우 ...<br>
댑스 구분은 파일명 에서 - 로 한다.<br>
Depth 0 ID : a<br>
Depth 1 ID : b<br>
Depth 2 ID : c<br>
Depth 3 ID : <br>
<!-- Sub Footer.html -->
	</div>
	<!-- /#content -->
</div>
<!-- /.container -->
<!-- //Sub Footer.html -->
<!-- Footer.html -->
</div>
<div id="footer">
	<div class="quick-bottom">
		<ul>
			<li><a href="#"><span>해양수산통계소개</span></a></li>
			<li><a href="#"><span>개인정보처리방침</span></a></li>
			<li><a href="#"><span>뷰어다운로드</span></a></li>
			<li><a href="#"><span>홈페이지 이용약관</span></a></li>
			<li><a href="#"><span>이용안내</span></a></li>
		</ul>
	</div>
	<div class="container">
		<div class="logo-footer">
			<a href="/"><span class="sr-only">해양수산부</span></a>
		</div>
		<div class="address">
			<address>
				30110 세종특별자치시 다솜2로 94 정부세종청사 5동, 해양수산부 정보화담당관실 044-200-5185
				<span>본 홈페이지는 게시된 이메일 주소가 자동 수집되는 것을 거부하며, 이를 위반 시 정보통신망법에 의해 처벌됨을 유념하여 주시기 바랍니다.</span>
			</address>
			<p class="copyright">
				Copyright (c) 2016 Ministry of Oceans and Fisheries. All Rights Reserved.
			</p>
		</div>
		<div class="family-site">
			<div class="family-content">
				<a href="#">관련기관 바로가기</a>
				<ul>
					<li><a href="#">관련기관 바로가기1</a></li>
					<li><a href="#">관련기관 바로가기2</a></li>
					<li><a href="#">관련기관 바로가기3</a></li>
					<li><a href="#">관련기관 바로가기2</a></li>
					<li><a href="#">관련기관 바로가기3</a></li>
					<li><a href="#">관련기관 바로가기2</a></li>
					<li><a href="#">관련기관 바로가기3</a></li>
					<li><a href="#">관련기관 바로가기2</a></li>
					<li><a href="#">관련기관 바로가기3</a></li>
				</ul>
			</div>
			<a href="#" class="btn btn-primary"><span>이동</span></a>
		</div>
	</div>
</div>
</div>
<div class="quick-menu">
	<ul>
		<li class="quick-1">
			<a href="service-1.html">
				<span class="thum"><span class="sr-only">quick-1</span></span>
				<strong class="name">이용안내</strong>
			</a>
		</li>
		<li class="quick-2">
			<a href="stats-1.html">
				<span class="thum"><span class="sr-only">quick-2</span></span>
				<strong class="name">자주묻는질문</strong>
			</a>
		</li>
		<li class="quick-3">
			<a href="indicator-1.html">
				<span class="thum"><span class="sr-only">quick-3</span></span>
				<strong class="name">통계서식정보</strong>
			</a>
		</li>
		<li class="quick-4">
			<a href="information-1.html">
				<span class="thum"><span class="sr-only">quick-4</span></span>
				<strong class="name">품질진단안내</strong>
			</a>
		</li>
	</ul>
</div>
<!-- /.quick-menu -->
<div id="sitemap-tree">
	<div class="container">
		<h2> <span class="sr-only"><strong>해양수산부 통계시스템</strong> 전체메뉴 보기</span></h2>
		<ul class="depth1">
			<li class="eq-1">
				<a href="service-1.html"><span>서비스안내</span></a>
				<ul class="depth2">
					<li><a href="service-1.html">해양수산통계소개</a></li>
					<li><a href="service-2.html">공지사항</a></li>
					<li><a href="service-3.html">보도자료</a></li>
					<li><a href="service-4.html">자주묻는질문</a></li>
					<li><a href="service-5.html">이용안내</a></li>
					<li><a href="service-6.html">관련사이트</a></li>
					<li><a href="service-7.html">관련통계사이트</a></li>
				</ul>
			</li>
			<li class="eq-2">
				<a href="stats-1.html"><span>통계조회</span></a>
				<ul class="depth2">
					<li><a href="stats-1.html">분야별통계</a></li>
					<li><a href="stats-2.html">부서별통계</a></li>
					<li><a href="stats-3.html">주요통계</a></li>
					<li><a href="stats-4.html">인기통계</a></li>
					<li><a href="stats-5.html">통계공표일정</a></li>
					<li><a href="stats-6.html">통계담당부서안내</a></li>
					<li><a href="stats-7.html">최근수록자료</a></li>
				</ul>
			</li>
			<li class="eq-3">
				<a href="indicator-1.html"><span>지표조회</span></a>
				<ul class="depth2">
					<li><a href="indicator-1.html">분야별지표</a></li>
					<li><a href="indicator-2.html">주요지표</a></li>
					<li><a href="indicator-3.html">인기지표</a></li>
					<li><a href="indicator-4.html">최근수록지표</a></li>
				</ul>
			</li>
			<li class="eq-4">
				<a href="information-1.html"><span>통계정보</span></a>
				<ul class="depth2">
					<li><a href="information-1.html">간행물</a></li>
					<li><a href="information-2.html">통계메타DB</a></li>
					<li><a href="information-3.html">통계용어</a></li>
					<li><a href="information-4.html">통계법령자료</a></li>
					<li><a href="information-5.html">통계서식정보</a></li>
					<li><a href="information-6.html">통계기반정책평가제도</a></li>
					<li><a href="information-7.html">품질진단안내</a></li>
				</ul>
			</li>
			<li class="eq-5">
				<a href="participation-1.html"><span>참여</span></a>
				<ul class="depth2">
					<li><a href="participation-1.html">이벤트</a></li>
					<li><a href="participation-2.html">통계개선의견</a></li>
					<li><a href="participation-3.html">통계개발요청</a></li>
				</ul>
			</li>
		</ul>
		<a href="#" class="btn-sitemap-close"><span class="sr-only">사이트맵 닫기</span></a>
	</div>
</div>
<!-- /.sitemap -->
<!-- //Footer.html -->
<!-- App Footer.html -->
</body>
</html>
<!-- //App Footer.html -->